{% extends 'inventory/base.html' %}

{% block content %}
<h2>Add Item</h2>

<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#addItem" role="button" aria-expanded="false" aria-controls="addItem">
        Add Item
    </a>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#addItemQuick" role="button" aria-expanded="false" aria-controls="addItemQuick">
        Quick Add
    </a>
</p>


<div class="collapse" id="addItem">
    <form method="POST" class="post-form">
        {% csrf_token %}
        {# {{ form.as_p }} #}

        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.subject.id_for_label }}">Name:</label>
            {{ form.name }}
        </div>
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="{{ form.subject.id_for_label }}">Quantity:</label>
          {{ form.quantity }}
        </div>
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="{{ form.subject.id_for_label }}">Description:</label>
          {{ form.description }}
        </div>
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="{{ form.subject.id_for_label }}">Image:</label>
          {{ form.img }}
        </div>
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="{{ form.subject.id_for_label }}">High Value?:</label>
          {{ form.high_value }}
        </div>
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="{{ form.subject.id_for_label }}">Tags:</label>
          {{ form.tags }}
        </div>
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="{{ form.subject.id_for_label }}">Category:</label>
          {{ form.category }}
        </div>
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="{{ form.subject.id_for_label }}">Subcategory:</label>
          {{ form.subcategory }}
        </div>
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="{{ form.subject.id_for_label }}">Category:</label>
          <select class="form-select" id="category" aria-label="Default select example">
            <option selected>Category:</option>
            {% for category in categories %}
              <option value="{{ category }}">{{ category|title }}s</option>
            {% endfor %}
          </select>
        </div>
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="{{ form.subject.id_for_label }}">Secondary Category:</label>
          <select class="form-select" id="secondary-dropdown" aria-label="Default select example" disabled>
            <option selected>Select a Category First</option>
            <div id="options">
        
            </div>
          </select>
        </div>

        <button type="submit" class="save btn btn-secondary">Save</button>
        <button type="submit" class="save btn btn-secondary">Save & Add Another Item</button>
    </form>
</div>

<div class="collapse" id="addItemQuick">
    Quick Add
</div>

{% endblock %}